@media (max-width: 700px) {
    
    header .box-right {
        display: none;
    }
    header .box-left {
        display: flex;
        width: 100%;
    }
    .card-perfil {
        width: 80vw;
        max-height: 60vh;
        min-height: 600px;
        margin: 10px;
        flex-direction: column;
        margin: 15px;
        padding: 40px 40px;
        margin-bottom: 0px;
        gap: 50px;
        justify-content: space-between;
    }
    .card-perfil .text-perfil p {
        font-size: 1.9rem;
        white-space: nowrap;
        line-height: 2.5rem;
    }

    .social {
        display: flex;
        flex-direction: row;
        border-top: solid 1px var(--color-2);
        border-left: 0;
        padding-top: 30px;
        height: unset;
        padding-left: 0;
        width: 100%;
    }
    .card-perfil .text-perfil {
        min-width: 0;
    }
    .section-tecnologies .icons {
        margin: 30px;
    }
    .line-box {
        justify-content: center;
        padding: 0;
    }
    .line-y {
        margin-left: 0;
    }
}
@media (min-width: 580px) {
}
