@import url(./css/global.css);

:root {
    --background: #002533;
    --color-2: #0f5750;
    --color-3: #30bba1;
    --color-4: #038c3e;
    --primary-color: #0bf45d;
    --secondary-color: #72009c;
    --background-box: #00000036;
    --border: solid 1px var(--color-2);
}

body {
    font-family: "Montserrat", sans-serif;
    background: var(--background);
    flex-direction: column;
    color: #ffffff;
    z-index: 1;
    overflow-x: hidden;
    background-size: cover;
    width: 100%;
    height: 100%;
    font-size: 0.87rem;
    line-height: 1.5;
    min-height: 100vh;
}

.cursor-box {
    width: 20em;
    height: 20em;
    position: absolute;
    z-index: 0;
    border-radius: 50%;
    border: 0;
    box-shadow: inset 0px 0px 200px 75px var(--primary-color);
    filter: blur(150px);
    opacity: 20%;
}

ion-icon {
    font-size: 2rem;
    color: white;
}
header {
    width: 100%;
    padding: 1rem;
    z-index: 10;
    position: fixed;
    flex-wrap: nowrap;
    top: -100px;
    background-color: transparent;
    box-shadow: #00000073;
    border-color: #002c28;
    transition: top 0.3s;
}
header.show-style-header,
.aside {
    background-color: #0025337c;
    border-bottom: solid 1px #002c28;
    box-shadow: 0 2px 32px 0 #00000073;
    backdrop-filter: blur(30px);
}
header.show-header {
    top: 0;
}
header .content {
    max-width: 900px;
    justify-content: space-between;
    flex-direction: row;
}

header.aside-hide {
    border: none;
    box-shadow: none;
    backdrop-filter: none;
}
.content {
    max-width: 1280px;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

/* hamburger */

.icon-hamburger {
    z-index: 10000;
}
.hamburger {
    cursor: pointer;
    margin-right: 5px;
}

.hamburger input {
    display: none;
}

.hamburger svg {
    height: 3em;
    transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line {
    fill: none;
    stroke: #ffffff;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 3;
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
        stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hamburger:hover .line,
.hamburger input:checked + svg .line {
    stroke: var(--primary-color);
}

.line-top-bottom {
    stroke-dasharray: 12 63;
}

.hamburger input:checked + svg {
    transform: rotate(-45deg);
}

.hamburger input:checked + svg .line-top-bottom {
    stroke-dasharray: 20 300;
    stroke-dashoffset: -32.42;
}

.box-left {
    display: flex;
    align-items: flex-end;
    gap: 20px;
    flex-direction: row;
    flex-wrap: nowrap;
}
.title-logo {
    padding: 10px 20px;
    font-weight: 500;
    font-size: 1.5rem;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 1s;
}
.title-logo:hover.title-logo::after {
    display: flex;
    align-items: center;
    justify-content: center;
    content: "";
    background: var(--primary-color);
    filter: blur(50px);
    border-radius: 10px;
    padding: 20px;
    width: 250px;
    height: 20px;
    position: absolute;
    opacity: 20%;
    transition: all 1s;
}

.box-right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}
hr {
    height: 100%;
    width: 1px;
}
.title-logo strong {
    color: var(--primary-color);
}
.circle {
    position: absolute;
    width: 1000px;
    height: 1000px;
    border-radius: 50%;
    transform-origin: center center;
    filter: blur(40px);
    opacity: 10%;
    z-index: 0;
}
.menu li:hover {
    color: var(--primary-color);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}
.section-bg {
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 2%;
}
.section-bg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.section-perfil {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.card-perfil {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1000px;
    gap: 50px;
    background-color: var(--background-box);
    border-radius: 30px;
    border: var(--border);
    padding: 70px 60px;
    backdrop-filter: blur(10px);
    position: relative;
    z-index: 5;
}

.img-perfil {
    width: 200px;
    height: 200px;
    background-size: contain;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 5;
}

.perfil {
    display: flex;
    align-items: center;
    justify-content: center;
}
.circle-perfil {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-image: url(./img/FB_IMG_1661388510346.webp);
    background-size: contain;
    background-position: center;
    align-items: center;
    justify-content: center;
    z-index: 5;
    border: solid 2px var(--primary-color);
}
.circle-perfil-blur {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: var(--primary-color);
    filter: blur(40px);
    position: absolute;
    opacity: 20%;
    transition: all 0.7s;
}
.perfil:hover .circle-perfil-blur {
    width: 250px;
    height: 250px;
}
.card-perfil .text-perfil p:first-child {
    color: var(--primary-color);
    font-size: 2rem;
    font-weight: 700;
}
.card-perfil .text-perfil p {
    color: #ffffff;
    font-size: 1.5rem;
    font-weight: 700;
    text-align: left;
}
.card-perfil .text-perfil p:nth-child(3) {
    color: #ffffff;
    font-size: 1rem;
    font-weight: 300;
}

.social {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    border-left: solid 1px var(--color-2);
    height: 100%;
    padding-left: 50px;
    gap: 30px;
}
.social .icon-social {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    transform: translateZ(50px);
    z-index: 5;
    position: relative;
}
.icon-bg-blur {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: var(--background-box);
    filter: blur(-27px);
    transition: all 0.2s;
    position: absolute;
    z-index: 1;
    border: var(--border);
}
.icon:hover .icon-bg-blur {
    width: 65px;
    height: 65px;
    background-color: var(--color-3);
}
.icon-social ion-icon {
    font-size: 2rem;
    color: #e0e0e0;
    z-index: 5;
}
.icon-social:hover ion-icon {
    color: #ffffff;
}
.line-box {
    display: flex;
    align-items: center;
    justify-content: center;
}

.line-y {
    width: 1px;
    height: 100%;
    border-radius: 20px;
    position: absolute;
    background: linear-gradient(
        to bottom,
        var(--color-2),
        #30bba1 90%,
        #abfbec
    );
}

.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: unset;
    z-index: 5;
    position: relative;
    width: 50px;
    height: 50px;
}
.section-tecnologies {
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-tecnologies .content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.section-tecnologies .content .center {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}
.icon-bg-blur-section {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: var(--color-3);
    filter: blur(20px);
    opacity: 80%;
    transition: all 0.7s;
    position: absolute;
    z-index: 1;
}

.section-tecnologies .text {
    text-align: center;
    font-size: 2rem;
    font-size: calc(50% + 1rem);
}
.section-tecnologies h2 {
    color: var(--primary-color);
}

.section-tecnologies .icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
    margin: 20px;
}
.section-tecnologies .icons .icon {
    width: 70px;
    height: 70px;
    border-radius: 10px;
    background-color: var(--background-box);
    border: var(--border);
    padding: 15px;
    cursor: pointer;
}
.section-tecnologies .icons .icon ion-icon {
    width: 100%;
    height: 100%;
    font-size: 100%;
    transition: transform 0.3s;
}
.icons .icon:hover ion-icon {
    transform: scale(1.1);
}

/* MENU LATERAL MOBILE */

aside {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 8;
}

.aside {
    display: flex;
    left: -500px;
    width: 500px;
    height: 100%;
    z-index: 9;
/*  background-color: white; */
    position: absolute;
/*  box-shadow: 2px 2px 50px #000000; */
    transition: all 0.5s;

}
.aside.ative {
    transform: translateX(500px);
}
.closebutton {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 8;
    opacity: 0;
    cursor: pointer;
    font-size: 3rem;
    background-color: #00000054;
    transition: all 2s;
}
